<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<p>&nbsp;</p>
<table width="60%" border="0" align="center">
  <tr>
    <td colspan="2" align="center" valign="middle">第【x】/【x】题</td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle"><p>&nbsp;</p>
    <p><img src="pic.jpg" width="500" height="318" /></p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td colspan="2" align="center" valign="middle"><p>这张图片上的内容是【tag】吗？</p></td>
  </tr>
  <tr>
  <form id="form1" name="form1" method="post" action="">
    <td align="center">
      <p>
        <input type="radio" name="radio" id="choice2" value="true" />
      正确    </p></td>
    <td align="center"><label>
      <input type="radio" name="radio" id="choice3" value="false" />
    错误</label></form></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td align="right">&nbsp;</td>
  </tr>
 
</table>
<p>&nbsp;</p>
<table width="60%" border="0" align="center">
  <tr>
  
    <td align="left" valign="bottom"><form id="form3" name="form3" method="post" action="">
      <input type="submit" name="previous" id="previous" value="上一个" />
    </form></td>
    <td align="right" valign="bottom"><form id="form2" name="form2" method="post" action="">
      <label>
        <input type="submit" name="next" id="next" value="下一个" />
      </label>
    </form></td>
  </tr>
  
</table>

</body>
</html>
